body{
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
}

.arriba{
	position: fixed;
	width: 100%;
	height: 70px;
	background-color: #E54E79;
	z-index: 2;
}
.logo1{
	width: 60px;
    margin-top: 11px;
    margin-left: 257px;
}
.logo{
	position: relative;
	width: 70px;
}
.arriba, .bot, li, a {
	text-align: right;
	color: #fff;
    display: inline-block;
    text-decoration: none;
    margin-right: 53px;
}


.celeste{
	background-color: #00B2A9;
	width: 100%;
	height: 500px;
}

.foto{
	width: 100%;
	height: 700px;
	background-image: url(../img/cropped-Lyft-Promo-Codes-car-1.jpg);
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
}
.final{
	backgroun: #E54E79; /*por que ptaaaaaaaa no toma el color!!!*/
	margin-bottom: 200px;
	position: absolute;
}
/*
Colors: 
#E54E79; rosado 
#E56385; rosado mas clarito
#00B2A9; celeste
#75726C; gris
#EDE9E2; gris clarito

width= ancho
height= alto
left= izquierda
right= derecha
*/