body{
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
}

.arriba{
	position: fixed;
	width: 100%;
	height: 70px;
	background-color: #E54E79;
	z-index: 2;
}
.logo1{
	margin-left: 249px;
	width: 60px;
    margin-top: 11px;

}
.logo, ul, li, a {
	margin-left: 80px;
    color: #EDE9E2;
    display: inline-block;
    text-decoration: none;

}
.celeste{
	background-color: #00B2A9;
	width: 100%;
	height: 500px;
	position: relative;
}
.blanco{

    font-size: 47px;
    /* margin-bottom: 100px; */
    padding: 40px;
    margin-top: 70px;
    background-color: #fff;
    width: 100%; 
    /* height: 20px; */
    text-align: center;
    color: #75726C;
    position: absolute;
}
.foto{
	width: 100%;
	height: 700px;
	background-image: url(../img/cropped-Lyft-Promo-Codes-car-1.jpg);
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
}
.final1{
	float: left;
	width: 50%;
	height: 200px;
	background-color: #75726C;
}
.final2{
	float: right;
	width: 50%;
	height: 200px;
	background-color: #75726C;
}
p.texto1 {
    font-size: 22px;
    color: #EDE9E2;
    margin-left: 190px;
}
p.texto2 {
    font-size: 16px;
    color: #EDE9E2;
    margin-left: 190px;
}
p.texto3 {
    font-size: 22px;
    color: #EDE9E2;
    margin-left: 120px;
}
#ultimolink{
    margin-left: 253px;
    color: #EDE9E2;
    display: block;
    text-decoration: none;
}


/*
Colors: 
#E54E79; rosado 
#E56385; rosado mas clarito
#00B2A9; celeste
#75726C; gris
#EDE9E2; gris clarito

width= ancho
height= alto
left= izquierda
right= derecha
*/